spring.application.name=finance-node
server.port=8180

spring.datasource.jndi-name=java:/jdbc/XAPostgresDS
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

app.jms.broker-url=tcp://localhost:61616
app.jms.financial-operation-destination=Consumer.finance.VirtualTopic.financial-operation.requested
app.jms.username=
app.jms.password=

app.finance.processing-delay=3s
app.bank.failure=false

app.jira-adapter.enabled=${APP_JIRA_ADAPTER_ENABLED:false}
app.jira-adapter.connection-factory-jndi-name=java:/eis/JiraConnectionFactory

app.camunda.base-url=${APP_CAMUNDA_BASE_URL:http://localhost:18080/engine-rest}
app.camunda.financial-operation-finished-message=${APP_CAMUNDA_FINANCIAL_OPERATION_FINISHED_MESSAGE:FinancialOperationFinished}
