spring.application.name=banking-node
server.port=8180

spring.datasource.jndi-name=java:/jdbc/XAPostgresDS
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

app.jms.broker-url=tcp://localhost:61616
app.jms.payment-destination=Consumer.banking.VirtualTopic.payment.requested
app.jms.username=
app.jms.password=

app.banking.stub.force-failure=false

app.jira.enabled=false
app.jira.base-url=
app.jira.email=
app.jira.api-token=
app.jira.project-key=
app.jira.issue-type=Task
